.root {
    position: relative;
    left: px;
  }
  
  .selectedBrand {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 12px 20px;
    width: 200px;
    border-radius: 10px;
    font-size: 16px;
  
    &:focus {
      border: 1px solid rgba(0, 0, 0, 0.2);
    }
  }
  .brand-item{

  }
  
  