@import './header';
@import './button';
@import './categories';
@import './sort';
@import './pizza-block';
@import './selected';
@import './input';
@import './company-navbar';
@import './modal';
@import './_companyZakazs';
